#:schema node_modules/wrangler/config-schema.json
name = "database"
main = "src/index.ts"
compatibility_date = "2024-04-05"
compatibility_flags = ["nodejs_compat"]

services = [{ binding = "STORAGE", service = "storage" }]

# Create a new D1 database using the Wrangler CLI and fill in database_name and database_id.
[[d1_databases]]
binding = "DB"
database_name = "sandbox-database"
database_id = "621464a4-7b93-4b14-9265-5db1d6721db1"

# Set STORAGE_WORKER_URL after deploying the worker.
# Set KEY to be the same as KEY in /backend/storage/wrangler.toml.
[vars]
KEY = "123456"
STORAGE_WORKER_URL = "https://storage.jongun2038.workers.dev"
